//- Strikers
.position(id="position_ls") Left Striker
  .player(id="player_ls")
.position(id="position_rs") Right Striker
  .player(id="player_rs")

//- Midfielders
.position(id="position_lm") Left Midfielder
  .player(id="player_lm")
.position(id="position_rm") Right Midfielder
  .player(id="player_rm")
.position(id="lposition_cm") Left Center Midfielder
  .player(id="player_lcm")
.position(id="rposition_cm") Right Center Midfielder
  .player(id="player_rcm")

//- Backs
.position(id="position_lb") Left Back
  .player(id="player_lb")
.position(id="position_rb") Right Back
  .player(id="player_rb")
.position(id="lposition_cb") Left Center Back
  .player(id="player_lcb")
.position(id="position_cb") Right Center Back
  .player(id="player_rcb")

//- Keeper
.position(id="position_k") Keeper
  .player(id="player_k")
